:root {
  --theme-border-color: #dfdfdf;
}

.settings-container {
  display: flex;
  flex-direction: row; /* 기본적으로 좌우 배치 */
  height: 100vh;
}

.settings-sidebar {
  /* width: 260px; 사이드바의 너비 */
  background-color: #fff;
  /* border-right: 2px solid #dfdfdf; */
  border-right: 2px solid var(--theme-lightyellow-color);
}

.settings-content {
  flex-grow: 1; /* 남은 공간을 차지 */
  background-color: #fff9ee;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .settings-container {
    flex-direction: column; /* 모바일에서는 위아래 배치 */
  }
  
  .settings-sidebar {
    width: 100%; /* 모바일에서는 전체 너비 차지 */
    /* border-bottom: 2px solid #dfdfdf; */
    border-bottom: 2px solid var(--theme-lightyellow-color);
  }
}