html,
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바 숨기기 */
  background-color: #000;
}

.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* 이미지가 화면에 꽉 차도록 */
}
