h1.brandtitle {
  padding: 0 16px;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav-deco {
display: inlin-block;
margin-right: 4px;
background-color: #3db8ff00;
border-radius: 8px;
height: 40px;
width: 6px;
}

.nav-link.active .nav-deco {
    background-color: #3db8ff;
    /* border: solid red 1px; */
}

.nav-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 6px;
  font-size: 1.4rem;
  text-align: center;
}


.nav-link.active {
  color: #3db8ff;
  /* font-weight: bold; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  margin: 0 8px 16px 8px;
  /* padding: 12px; */
}
li .active {
  border-radius: 8px;
  background-color: #ecf4ff;
}

li a {
  /* font-size: 1.4rem; */
  /* color: #000; */
  /* color: #3db8ff; */
  /* padding: 8px 16px; */
  /* text-decoration: none; */
}

a {
  display: block;
  decoration: none;
}
