body {
  margin: 0;
  padding: 0;
}

.img-icons {
  /* color: var(--theme-orange-color); */
  width: 4rem;
  height: 4rem;
  /* margin-bottom: 8px; */
}

.nav-item {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  flex-direction: column;
  /* position: relative; */
  width: 10rem;
  height: 10rem;
  padding: 0;
  margin: 0;
}

.nav-text {
  /* width: 100%; */
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  /* margin-bottom: 0.3rem; */
  padding-top: 1rem;
  /* padding-left: 16px; */
  margin: 0;
  /* vertical-align: middle; */
}

.nav-link {
  color: var(--theme-darkbrown-color);
  text-decoration: none;
  font-size: 1.4rem;
  /* margin-left: 22px; */
}

.nav-link.active {
  color: var(--theme-orange-color);
  /* font-weight: bold; */
}

ul {
  list-style-type: none;
  /* margin-right: 50px; */
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

li {
  margin: 1rem;
  /* margin-top: 16px; */
  padding: 0;
  /* background-color: pink; */
  /* border: solid var(--theme-lightYellow-color); */
  /* border-radius: 32px; */
}

li .active {
  /* margin-top: 30px; */
  border-radius: 1.8rem;
  background-color: var(--theme-lightyellow-color);
}

a {
  display: block;
  text-decoration: none;
}

@media (max-width: 768px) {
  ul {
    display: flex;
    flex-direction: row;
    gap: auto;
  }
  li {
    /* width: 100%; */
    display: block;
    margin: 0.8rem;
  }
  li .active {
    border-radius: 1rem;
  }

  .nav-item {
    display: flex;
    align-items: center;
    height: 1rem;
    padding: 1.6rem;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  .img-icons {
    width: 2rem;
  }

  .nav-text {
    padding-top: 0;
    padding-left: 1rem;
  }
}


